@charset "UTF-8";
/* CSS Document */
	
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display:block;
	position:absolute;
	top:10px;
	right:5%;
	height:40px;
	width:40px;
	background:white url(../images/nav-icon.svg) no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color:#4E3602;
}

.nav-top{
	display:none;
}

.nav-top[data-state="expanded"]{
	display:block;
}

.nav-text-color,
.nav-text-color:link,
.nav-text-color:visited{
	color:#171717;
	font-weight:200;
}

.nav ul{
	padding-left:0;
}
.nav li{
	padding:.5rem;
	display:block;
	text-align:center;
}
.nav-back{
	background-color:#E1FCE1;
	background-image:linear-gradient(to bottom, #E1FCE1, #fff);
	overflow:hidden;
}
.nav-text-color,
.nav-text-color:hover,
.nav-text-color:focus{
	color:#629F00;
	transition:4sec;
}
/*------------------------Logo--------------------------*/

.logo{
	display:block;
	margin:.5rem;
}

@media only screen and (min-width: 20em){
	
	.logo{
	display:inline-block;
	float:left;
	clear:both;
	}
	
	.nav{
		overflow: auto;
	}
	
	.nav li{
		float: left;
		display:inline-block;
		padding:.5rem;
		margin:0;
	}
	
	.nav ul{
		float:right;
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}
	
	.nav-top{
		display:block;
	}
}