@charset "UTF-8";
/* CSS Document */

.img{
	width:200px;
	margin:.2rem auto;
}

.img,img{
	width:200px;	
}

.back{
	background-color:rgba(118,50,6,0.40);
}

/*------------------------Product backings---------------------*/


.btm-border-none,a
.btm-border-none,a:link,
.btm-border-none,a:visited{
	border:none;
	
}
/*------------------------sub-nav-----------------------------*/

.sub-nav,
.sub-nav:link,
.sub-nav:visited {
	display:block;
}

.sub-back{
	overflow:hidden;
	background:rgba(0,0,0,1.00);b
}

@media only screen and (min-width: 27em){
	
	.sub-nav{
		float:right;
	}
	
}