@charset "UTF-8";
/* CSS Document */

.keyword{
	padding:.25rem;
	border:none;
	background-color:#FAF8F8;
}

.search{
	background-color:#FAF8F8;
	border-radius:4px;
	box-shadow:1px 1px 3px rgba(0,0,0,.5) inset;
	color:#fff;
	margin:.5rem;
	float:right;
	display:block;
}