# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Emily Prochnau}
- {kayla }
- {Elisa Koon}
- {	Grant Jeffery}
- {Julia Paddick}
- {Emma McInall}

## Tasks

1. {find the product page}
2. {buy a product}
3. {find the twitter logo}

---

## Individual Results & Observations

### {Emily Prochnau}

- {she completed them as expected}
- {twitter link didn't work}


### {Elisa Koon}

- {had no problem}
- {twitter linked worked}


### {Grant Jeffery}

- {did the task with no problem}
- {didn't have trouble} 
- {and the twitter logo worked}


## {blind}

### {kayla}


- {she had trouble with the cart page because 
the table had lots of blank spots so she had
no idea what is going on}

- {she had no promblem with anything else}


### {Emma McInall}

- {she had trouble with the cart page because 
the table had lots of blank spots so she had
no idea what is going on}

- {she had no promblem with anything else}


### {Julia Paddick}

- {she had trouble with the cart page because 
the table had lots of blank spots so she had
no idea what is going on}

- {she had no promblem with anything else}


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- cart for the blind people
- etc.

### Serious, Causes Frustration, May Hinder Completion

- N/A

### Minor, Annoying, Won’t Hinder Completion

- N/A