---
layout: default
title: Home
meta: the site for horseshoe and car dreamcetcher
---
<main role="main">
	<div>
		<img class="home-image photo" src="{{site.baseurl}}/images/photos/horse-shoe-1.jpg" alt="horse shoe">
		
		<div>
			{% include banner.html text="Home" %}
		</div>
			
		<div class="l-float content">
			<h1 class="giga white">Whispering Spirit</h1>
			
			<p>Whispering spirit is a fairly new company that started in 2013. The company was starting because the founder Laura Gordon was volunteering at the therapeutic riding center in Renfrew County when they where rejected a grant. That grant would of made a great difference. So she decided to find away to raise money for them.  She put her creative skills to good use and built dream catcher out of some old horseshoes. Selling her piece of artwork to raise money.</p>
		</div>
		
	</div>	
	<div class="content">
		
		
		<a href="{{site.baseurl}}/dreamcatcher/#car" class="hover unit-s-1-2 unit-m-1-2 unit-l-1-4">{% include promo-small.html title="Car" image="car-100.jpg" %}</a>
		
		<a href="{{site.baseurl}}/dreamcatcher/#dream" class="hover unit-s-1-2 unit-m-1-2 unit-l-1-4">{% include promo-small.html title="Dreamcatcher" image="horse-shoe-100.jpg" %}</a>		
		
		<a href="{{site.baseurl}}/dreamcatcher/#custom" class="hover unit-s-1-2 unit-m-1-2 unit-l-1-4">{% include promo-small.html title="Custom" image="custom-100.jpg" %}</a>
		
		<a href="{{site.baseurl}}/gallary/" class="hover unit-s-1-2 unit-m-1-2 unit-l-1-4">{% include promo-small.html title="Gallary" image="custom-100-100.jpg" %} </a>
		
		<a href="{{site.baseurl}}/dreamcatcher/#pre-order" class="hover unit-l-1 unit-m-1 unit-l-1">{% include promo-large.html lrg-title="Pre-orders" lrg-image="large-bucket.jpg" paragraphy=" Why pay full price for a custom horse shoe see what other people have ordered but never picked up" %}</a>
		
	</div>
	
</main>