# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {kayla }
- {Elisa Koon}
- {Julia Paddick}

## Tasks

1. {fin the company info}
2. {find a pre ordered Dreamcetcher and buy it}
3. {find the custom gallary page}

---

## Individual Results & Observations

### {Julia Paddick}

- {she did every thing that i expected}
- {Had no Problem}
- {she wanted to press on the custom horse shoe image}


### {kayla }

- {she did every thing that i expected}
- {Had no Problem}
- {she didn,t click on the gallary link in the nav she went to the produc page to see it}


### {Elisa Koon}

- {she did every thing that i expected}
- {Had no Problem}
- {she didn't try to click on the image to make it bigger}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

-N/A

### Serious, Causes Frustration, May Hinder Completion

- {the images on the gallary page make bigger

### Minor, Annoying, Won’t Hinder Completion

N/A