<div class="promo">
	
		{% for dreamcatcher in site.pages %}
			{% if dreamcatcher.category == "car" %}
				<div class="btm-border-none  med-s-1-2 unit-m-1-2 unit-l-1-4">
					<div class="relitive">
						<a class="hover" href="{{site.baseurl}}{{dreamcatcher.url}}">
							<img src="{{site.baseurl}}/images/{{dreamcatcher.image}}" alt="horse shoe image"/>
						</a>
						<h2 class="hover-title">{{dreamcatcher.price}}</h2>
					</div>	
						<div class="lrg-pra content ">
							<div class=" black">
								<h5>{{dreamcatcher.name}}</h5>
								<p>{{dreamcatcher.discription}}</p>
							</div>
							
							<a href="{{site.baseurl}}/cart/"><h6 class="btn">buy Now</h6></a>
							
						</div>
					
				</div>
			{% endif %}
		{% endfor %}
	
</div>

