@charset "UTF-8";
/* CSS Document */

html{
}

.thank{
	position:absolute;
	float:left;	
}

.content{
	padding:1rem;
}

.no-bullet,li,
.no-bullet,li:link,
.no-bullet,li,img,a:visted{
	list-style-type: none;	
}

.img-l{
	width:35%;
}

.home-image{
	width:100%;
	margin:0 0;
	padding:0 0;
}
.hover{
	border:none;
}

.hover,
.hover:link,
.hover:visited{
	border:none;
}
.hover:hover,
.hover:focus,
.hover:active{
	transition:ease;
	color:#0F0F0F;
	opacity:.5;
}

.all-white{
	color:#FFFFFF;
}

@media only screen and (min-width: 76em) {
	
	.l-float{
		position:absolute;
		top:20%;
		left:45%;
		width:50%;
		color:rgba(203,200,200,.75);
	}

	.white{
		color:#FFFFFF;
	}
	
	.about-l-float{
		position:absolute;
		top:22%;
		left:51%;
		width:45%;
		color:rgba(203,200,200,.75);
	}
		
}

.black{
	color:black;	
}

.right{
	float:right;
}

.overflow{
	overflow:hidden;	
}

.comment{
	height:200px;
	width:100%;
}

/*--------------------------------------------------Thank you page-------------*/

.thank-you{
	margin:20%;
	background:url(../images/wood.jpg);
	padding:2rem;
	display:inline-block;
	border-radius:2px;
	box-shadow:0px 0px 7px rgba(114,113,113,0.71);
	color:#FFFFFF;
}

.thank-you-white{
	color:#FFFFFF;
}
