<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}·Whispering Spirit</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial=scale=1">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
	<link href="{{site.baseurl}}/css/w-s-dreamcatcher.css" rel="stylesheet">
		
</head>
<body>
	<header role="banner">
		<div class="nav-back">
			<a href="{{site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/images/w-s-logo.svg" alt="company logo"></a>
			
			
			<div>
				<a href="#nav" class="nav-btn hide-text"></a>
				<nav class="nav nav-top" data-state="collapsed" role="navigation">

						<ul class="list-group nav giga">
							<li class="list-group-item list-group-inline"><a class="{%if page.url == '/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/index.html">Home</a></li>
							<li class="list-group-item list-group-inline"><a class="{%if page.url == '/dreamcatcher/'%}current{%endif%} nav-text-color"  href="{{site.baseurl}}/dreamcatcher/">Product</a></li>
							<li class="list-group-item list-group-inline"><a class="{%if page.url == '/about/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/about/" >About</a></li>
							<li class="list-group-item list-group-inline"><a class="{%if page.url == '/gallary/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/gallary/" >Gallery</a></li>
						</ul>
					</nav>
				</div>
				
			</div>
			
				
		</header>	
		
			<div class="nav-back">
				<div class="search">
					<form action="{{site.baseurl}}/search/" role="search">
						<input type="text" name="search" placeholder="dreamcatcher" class="keyword"/>
						<input type="submit" value="search" class="btn"/>
						
					</form>
				</div>
			</div>
			
			
{{content}}

		<footer class="footer">
			<nav  class="nav-btm">
				<ul class="list-group giga nav-bottom">
					<li class="list-group-item list-group-inline"><a class="{%if page.url == '/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/index.html" >Home</a></li>
					
					<li class="list-group-item list-group-inline"><a class="{%if page.url == '/dreamcetcher/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/dreamcatcher/">Product</a></li>
					<li class="list-group-item list-group-inline"><a class="{%if page.url == '/about/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/about/" >About</a></li>
					
					<li class="list-group-item list-group-inline"><a class="{%if page.url == '/gallary/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/gallary/" >Gallery</a></li>
				</ul>
			</nav>	
			
			<div class="micro" role="contentinfo">
				<p>©2014Whispering Spirit	</p>
			</div>
			
			
			<div>
				<a href="#"><img  class="icon" src="{{site.baseurl}}/images/icons/i-facebook.svg" alt="facebook"></a>
				<a href="#"><img class="icon" src="{{site.baseurl}}/images/icons/i-twitter.svg" alt="twitter"></a>
				<a href="#"><img class="icon" src="{{site.baseurl}}/images/icons/i-googleplus.svg" alt="google plus"></a>
			</div>
		</footer>
	<script src="../js/nav.js"></script>
</body>
</html>
