<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}·Whispering Spirit</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial=scale=1">
	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
	
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">	
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">	
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">	
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promo.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/banner.css" rel="stylesheet">
		
</head>
<body>
	<header>
		<div class="nav-back">
			<a href="{{site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/images/w-s-logo.svg" alt="company logo"></a>
			
			<div>
				<a href="#nav" class="nav-btn hide-text"></a>
				<nav class="nav nav-top" data-state="collapsed">

						<ul class="list-group nav giga">
							<li class="list-group-item list-group-inline"><a class="{%if page.url == '/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/index.html">Home</a></li>
							<li class="list-group-item list-group-inline"><a class="{%if page.url == '/dreamcatcher/'%}current{%endif%} nav-text-color"  href="{{site.baseurl}}/dreamcatcher/">Product</a></li>
							<li class="list-group-item list-group-inline"><a class="{%if page.url == '/about/'%}current{%endif%} nav-text-color" href="{{site.baseurl}}/about/" >Location</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>	
		
{{content}}

		<footer class="footer">
			<nav  class="nav-btm">
				<ul class="list-group giga nav-bottom">
					<li class="list-group-item list-group-inline"><a href="{{site.baseurl}}/index.html" class="{%if page.url == '/about/'%}current{%endif%} nav-text-color">Home</a></li>
					<li class="list-group-item list-group-inline"><a href="{{site.baseurl}}/dreamcetcher/" class="{%if page.url == '/about/'%}current{%endif%} nav-text-color">Product</a></li>
					<li class="list-group-item list-group-inline"><a href="{{site.baseurl}}/about/" class="{%if page.url == '/about/'%}current{%endif%} nav-text-color">Location</a></li>
				</ul>
			</nav>	
			
			<div class="micro">
				<p>©2014Whispering Spirit	</p>
			</div>
			
			
			<div>
				<a href="#"><img  class="icon" src="{{site.baseurl}}/images/icons/i-facebook.svg" alt="facebook button"></a>
				<a href="#"><img class="icon" src="{{site.baseurl}}/images/icons/i-twitter.svg" alt="facebook button"></a>
				<a href="#"><img class="icon" src="{{site.baseurl}}/images/icons/i-googleplus.svg" alt="facebook button"></a>
			</div>
		</footer>
	<script src="../js/nav.js"></script>
</body>
</html>
